* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0f117c;
    --secondary-color: #f9f9f9;
    --tertiary-color: #fff700;
}

.spacer {
    height: 50px;
}

body {
    background-color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 35px;
    padding: 0px 15px 0px 15px; 
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.nav-menu a {
    font-size: 14px;
    color: var(--secondary-color);
    text-decoration: none;
}

.logo svg{
    width: 20px;
    fill: var(--secondary-color);
}

.hero {
    display: flex;
    background-image: url('/images/hero-image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    justify-content: center;
}

.hero-header {
    display: flex;
    font-size: 50px;
    font-weight: bold;
    height: 100%;
    color: var(--secondary-color);
    align-items: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.img-source-hero {
    font-style: italic;
    opacity: 0.5;
    position: absolute;
    align-self: flex-end;
    color: var(--secondary-color);
    font-size: 12px;
}

.footer {
    height: 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: var(--secondary-color);
    font-size: 10px;
}

.featured-movie {
    display: grid;
    grid-template-columns: auto 750px auto;
    grid-template-rows: 150px;
}

.featured-movie-container {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 150px 600px;
    height: 150px;
    justify-items: center;
    align-items: center;
    border: rgba(0, 0, 110, 0.25) 1px solid;
    border-radius: 15px;
}

.featured-movie-img {
    display: flex;
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.featured-movie-img img {
    object-fit: fill;
    height: 100%; 
    animation: imageTransition 10s ease-in-out infinite;
    animation-play-state: running;
}

.featured-movie-info h2 {
    font-size: 24px;
    grid-column: 2 / 3;
    padding: 10px;
    animation: textTransition 10s ease-in-out infinite;
    animation-delay: 0.3s;
    animation-play-state: running;
}

.featured-movie-info p {
    font-size: 14px;
    grid-column: 2 / 3;
    padding: 10px;
    animation: textTransition 10s ease-in-out infinite;
    animation-delay: 0.3s;
    animation-play-state: running;
}

@keyframes imageTransition {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes textTransition {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.movie-section {
    display: grid;
    grid-template-columns: auto 750px auto;
}

.movie-section-container {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.movie-section-item {
    display: grid;
    grid-template-rows: 150px auto;
    justify-items: center;
    align-items: center;
}

.movie-section-img {
    display: flex;
    height: 100%;
    overflow: hidden;
    justify-content: center;
}

.movie-section-img img {
    object-fit: fill;
    height: 100%;
}

.movie-section-desc {
    font-size: 12px;
    padding: 10px;
}